* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background: #333;
    color: #fff;
    padding: 1em;
}

nav ul {
    list-style: none;
    padding: 0;
    background: #333;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    display: block;
    text-decoration: none;
    color: #fff;
    padding: 1em;
}

nav ul li a:hover {
    background: #333999;
}


.hero {
    display: flex;
    align-items: center;
    background: #333999;
    color: #fff;
    padding: 1em;
    height: 45vh;
}

.hero h1 {
    font-size: 5rem;
    flex: 900px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 85vw;
    margin: auto;
    grid-gap: 1em;
    padding: 1rem
}

.g-item img {
    width: 100%;
    object-fit: cover;
}

@media screen and (max-width: 960px) {
    main {
        display: grid;
        grid-template-areas: 'side main main main';
    }

    .hero {
        height: auto;
        flex-direction: column;
    }

    .hero h1 {
        flex: 0;
        font-size: 2em;
        margin-bottom: 1em;
    }

    .hero p {
        text-align: justify;
    }

    .grid {
        margin: 0;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 600px) {
    main {
        grid-template-areas: 'main'
                             'side';
    }

    /* LESS or SASS */
    .hero {
        height: auto;
        flex-direction: column;
        grid-area: side;
    }

    .hero h1 {
        flex: 0;
        font-size: 2em;
        margin-bottom: 1em;
    }

    .hero p {
        text-align: justify;
    }

    .grid {
        width: 100%;
        grid-template-columns: 1fr;
        grid-area: main;
    }
}